::deep .first-input-group-item fieldset {
    border-radius: var(--mud-default-borderradius) 0 0 var(--mud-default-borderradius) !important;
}

::deep .middle-input-group-item fieldset {
    border-radius: 0 !important;
}

::deep .last-input-group-item fieldset {
    border-radius: 0 var(--mud-default-borderradius) var(--mud-default-borderradius) 0 !important;
}